:root {
    --main-bg-color: #0d6efd;
    --main-text-color: #0d6efd;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
}

.primary-text { color: var(--main-text-color); }
.second-text { color: var(--second-text-color); }

.bg-dark { background-color: #212529 !important; }

#wrapper {
    overflow-x: hidden;
    background-color: #f4f6f9;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading { padding: 0.875rem 1.25rem; font-size: 1.2rem; }
#sidebar-wrapper .list-group { width: 15rem; }

#page-content-wrapper { min-width: 100vw; }

#wrapper.toggled #sidebar-wrapper { margin-left: 0; }

.list-group-item { border: none; padding: 20px 30px; }
.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}

.card { border: none; border-radius: 10px; }
.form-control, .form-select {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
}